.tip-calculater-container{
  background-color: #f9fbfe;
}

.image{
  width: 100vw;
  height: 40vh;
 
}

.heading{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #62b5f5;
  font-weight: bold;
  text-align: center;
}

.description{
  color: rgb(60, 58, 58);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.input-box{
  width: 100%;
  border-color: #cbd2d9;
  border-style: solid;
  border-radius: 3px;
  height: 40px;
  padding-left: 12px;
}

.error-message {
    color: #cf1124;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

.calculate-tip-button {
    background-color: #264fa2;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    border-radius: 4px;
}
